.jumbotron {
    background-image: url("../img/pizza.png");
    background-size: cover;
}

h1{
    text-align: center;
    background-color: #DDDDDD;
    opacity: 0.6;
}

.badge.badge-secondary{
    border-radius: 60%;
}

.btn.btn-primary{
    float: right;
}

.btn{
    float: right;
}

h5.card-header{
    color: white;
    background-color: #007bff;
}

.container{
    padding: 0;
    width: 100%;
}
