* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
main {
    display: grid;
    grid-template-columns: repeat(8, 100%);
    grid-template-rows: repeat(30, 100%);
}
ul {
    margin: 0;
    padding: 0;
    grid-area: 1 / 1 / 2 / 9;
    display: flex;
    list-style: none;
    background-color: black;
    color: white;
    align-items:  center;
}
li {
    padding-left: 10px;
}

a:visited {
    color: white;
}
a:link {
    text-decoration: none;
}
a:hover {
    background-color: darkgray;
}