@media screen and (min-width:500px) {}

* {
    box-sizing: border-box;
}
body {
    margin: 5px;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: 20% 60% 20%;
    grid-gap: 2px;
}
.alert-info-hidden-on-desktop {
    background-color: powderblue;
    border: 2px solid darkgray;
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert-info-hidden-on-desktop a:link {
    color: black;
}