.fancy-header {
    color: Purple;
    text-decoration: underline;
    text-align: center;
}
h1 {
    text-decoration: underline;
    color: brown;
    text-align: center;
    margin-bottom: 5px;
}
body {
    background-color: lightgrey;
    background-image: url("../img/BluePolygons.png");
    background-size: cover;
    font-family: 'Share Tech', sans-serif;
    font-weight: bold;
    text-align: center;
    background-attachment: fixed;
    font-size: 1.5em;
}

#values, #vision {
    list-style-type: circle;
    align-items: center;
}

.bord {
    border: 1px solid white;
    text-align: center;
    padding: 15px;
}
table {
    margin-left:auto;
    margin-right:auto;
}
ul, ol {
    display: inline-block;
    margin-top: 3px;
    padding: 3px;
    border: 3px;
}
#nb {
    background-color: silver;
    font-size: 2em;
    color: aqua;
    border: 1px solid black;
}
#nb:hover {
    background-color: blue;
}

a:link {
    color: blue;
}

a:visited {
    color: blue;
}
a:hover {
    color: red;
    font-weight: bold;
}
hr {

}